
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>GPA</title>
</head>

<body id="bg">
    <div id="pagesBg">
    <h1>Display Locations Where More Than Given Time Is Spent</h1>
    <form id="applicaton" action="/reviewHours" method="post">
        <fieldset>
            <label><b>Hours: </b><input type="number" step="0.01" name="hours" id="hours"></label><br>
        </fieldset>
        <br>
        <input id="buttons" type="submit" value="Submit Request" />
        <hr>
    </form>
    <a href="/">HOME</a>
    </div>
</body>

</html>
