<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="style.css" type="text/css"/>
    <title>Terps Summer Camp</title>
</head>

<body id="bg">
    <div id="pagesBg">
        <h1>Welcome to Location Tracker</h1>
        <h3>Record</h3>
        <ul id="list">
            
            <li>To record your current location: <a href="/record">Record</a></li>
            <li>To review building location select <a href="/review">Review Building Location</a></li>
        </ul>
        <hr>
        <h3>Access</h3>
        <ul id="list">
            <li>To see locations by time spent <a href="/hours">Select by Hours</a></li>
            <li>To erase where you've been <a href="/remove">Reset Locations</a></li>
        </ul>
        <hr>
    </div>
</body>

</html>
