<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Location Confirmation</title>
</head>

<body id="bg">
    <div id="pagesBg">
    <h1>Location Confirmation</h1>
    <div id="listData">
        <strong>Building: </strong><%- Building %><br>
        <strong>Time Spent: </strong> <%- Time %> hours<br>
        <strong>Latitude: </strong><%- Latitude %><br>
        <strong>Longitude: </strong><%- Longitude %><br>

        <hr>
        <a href="/">HOME</a>
    </div>
        </div>
</body>

</html>
