<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Submit Location</title>
</head>

<body id="bg">
    <div id="pagesBg">
    <h1>Submit Location</h1>
    <button class="button" onclick="getLocation1()">Get Location</button><br><br>
    <form id="location" action="/locationConfirmation" method="post" onsubmit="return confirmation();">
        <fieldset>
            <label><b>Building Name: </b><input type="text" name="building" id="building" placeholder="Iribe"></label><br><br>
            <label><b>Time Spent: </b><input type="number" step="0.01" name="time" id="time"></label>
            <div id="demo"></div>
        </fieldset><br>
        <input id="buttons" type="reset" />
        <input id="buttons" type="submit" value="Submit Location" />
        <hr>
    </form>
    <a href="/">HOME</a>
    </div>
</body>

<script>
    var x= document.getElementById("demo");

    function confirmation() {
        return window.confirm("Are you sure you want to submit your location?");
    }

    function getLocation1() {
        navigator.geolocation.getCurrentPosition(showPosition);
    }

    function showPosition(position) {
        x.innerHTML = `<br><br><b>Latitude: <b><input type="text" name="latitude" value="${position.coords.latitude}">
        <br><br><b>Longitude: <b><input type="text" name="longitude" value="${position.coords.longitude}">`;
    }

</script>

</html>
