<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Review Removal</title>
</head>

<body id="bg">
    <div id="pagesBg">
    <h1>Removal of All Locations</h1>

        All locations have been removed from the database. Number of applications removed: <%- removal %>
        <hr>
    <a href="/">HOME</a>
        </div>
</body>
</html>
