<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>Hours Spent GTE</title>
</head>

<body id="bg">
    <div id="pagesBg">
        <h1>Display Location Where Hour Spent is Greater than or Equal to</h1>
            <%- table %>
            <hr>
            <a href="/">HOME</a>
        </div>
</body>

</html>
