<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Review</title>
</head>

<body id="bg">
    <div id="pagesBg">
        <h1>Review Location</h1>
        <form id="location" action="/reviewConfirmation" method="post">
            <fieldset>
                <label><b>Building Name: </b><input type="text" name="building" id="building" placeholder="Iribe"></label><br>
            </fieldset>
            <br>
            <input id="buttons" type="reset" />
            <input id="buttons" type="submit" value="Submit Request" />
            <hr>
        </form>
        <a href="/">HOME</a>
    </div>
</body></html>
