<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/style.css" type="text/css"/>
    <title>Terps Summer Camp</title>
</head>

<body id="bg">
    <div id="pagesBg">
        <h1>The most beautiful table you'll ever see!</h1>
        <h3>Table Here</h3>
    </div>
</body>

</html>